/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

* {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.header {
    padding: 30px 0;
}

.header__nav {
    text-align: center;
}

.nav__item {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 0 25px;

}

.nav__link {
    color: #FF0000;
    text-decoration: none;
}

/* MAIN */

.img__logo {
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 48px 0;
}

.text-wrapper {
    padding: 0px 68px;
}

.text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 28px 0px;
    line-height: 26px;

}

.button-wrapper {
    text-align: center;
    margin: 70px 0 40px;
}

.button__get-started {
    padding: 18px 40px;
    border-radius: 4px;
    background-color: #FF0000;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    cursor: pointer;

}

/* FOOTER */

.footer {
    padding: 30px 105px 30px 0;
    text-align: right;
}

.copyright {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
}
